footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 1em 0;
  background-color: var(--primary-grey);
}
footer > div {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

footer h3 {
  margin: 0;
  font-family: var(--font-markazi);

  font-size: 20pt;
  color: var(--primary-yellow);

  /* text-align: center; */
}
footer ul li {
  font-family: var(--font-karla);
  font-size: 16pt;
  color: var(--secondary-pink);
}

footer img {
  max-width: 200px;
}

@media (max-width: 800px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  footer img {
    max-width: 100px;
  }
} ;
